Grid {
    grid-size: 2 3;
    grid-columns: 1fr 1fr;
    grid-rows: 1fr 1fr 1fr;
    grid-gutter: 1;
    padding: 1;
}

#logo {
    content-align: center middle;
    height: auto;
    margin: 1;
}

#todo {
    row-span: 3;
    border: double $accent;
    padding: 1;
}

#clock, #pomodoro, #info {
    border: round $primary;
    padding: 1;
    content-align: center middle;
}

#timer {
    text-style: bold;
    margin: 1;
    color: $warning;
}
